.movies-list > .items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.expanded-movie-item {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.expanded-movie-item h4 {
  display: inline;
}

.expanded-movie-item  > .description {
  display: flex;
  flex-direction: column;
}

.movie-list-item {
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin: 10px;
}
.movie-list-item:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.movie-list-item.selected {
  text-decoration: underline;
}

.close-modal {
  border: 0;
  background-color: transparent;
  color: rgb(242, 168, 19);
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
}